@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        Moon Yellow:         #f4c613
        Grey:                #212226
        White Smoke:         #f4f4f4
        Very light gray:     #d9d9d9
        Very dark gray:      #1f1f1f 
============================================ */

/* =========================================
                Html, Body
============================================ */
html,
body {
  height: 100%;
}

body {
  color: #212226;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
section {
  background: #fff;
  overflow: hidden;
}
/* =========================================
                Html, Body
============================================ */

/* =========================================
                Content Boxes
============================================ */
.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

.content-box-sm {
  padding: 90px 0;
}
.content-box-xs {
  padding: 60px 0;
}
.content-box-xxs {
  padding: 20px 0 0 0;
}
/* =========================================
                Content Boxes
============================================ */

/* =========================================
                Preloader
============================================ */
/* =========================================
                Preloader
============================================ */

/* =========================================
                Home-Section
============================================ */
#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url(img/home-video/video-dont-start.png) no-repeat;
  background-size: cover;
}
#home-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#home {
  background: none;
  height: 85%;
}
#home-content {
  width: 100%;
  height: 100%;
  display: table;
}
#home-content .caption {
  font-size: 18px;
  line-height: 34px;
  color: #c2c2c2;
  font-weight: 500;
}
#home-content .caption .title {
  color: #ecc719;
}
#home-content .caption .title {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3px;
  display: block;
  margin: 0 0 10px;
}
#home-content .title {
  font-weight: 600;
}
#home-content .caption h1 {
  font-size: 67px;
  line-height: 92px;
  color: #fff;
  margin: 0 0 23px;
  letter-spacing: 1px;
  font-weight: 600;
}
#home-content .caption {
  padding-top: 250px;
}
#home-content .caption p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.842);
}
#home-content .home-buttons {
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
#home-content .button-1 {
  margin-right: 10px;
  font-weight: 600;
  background-color: #d8b011;
  color: ffffff;
  border-color: transparent;
}
#home-content .button-1:hover,
#home-cotent .buttons-1:focus {
  background-color: #c29e0e;
}
#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}
#home-heading h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}
#home-heading p {
  color: #d8364c;
  font-size: 14px;
  font-weight: 800;
  margin: 0;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
#home-text span {
  color: #fff;
  font-size: 19px;
  font-weight: 100;
  margin: 8px 0 30px 0;
  font-family: "Open Sans", sans-serif;
}
.btn-home {
  color: #fff;
  border: 1px solid #fff;
}
.btn-home:hover,
.btn-home:focus {
  color: #fff;
  background-color: #d8364c;
  border: 1px solid #d8364c;
}
/* =========================================
                Home-Section
============================================ */

/* =========================================
            View-Projects-Section
============================================ */
#view-projects {
  text-transform: uppercase;
  padding: 55px 0;
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(195, 158, 15, 0.9),
      rgba(195, 158, 15, 0.9)
    ),
    /* bottom, image */ url(img/banner-img/banner-2.jpg);
}
#view-projects a {
  float: right;
  display: block;
  line-height: 35px;
  padding: 0 22px;
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
  border-radius: 3px;
  transition: all 300ms ease-in-out 0s;
  outline: none;
  text-decoration: none;
  background-color: #1f1f1f;
  color: #f4f4f4;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.7px;
  word-spacing: 2px;
}
#view-projects a:hover {
  background-color: #443907;
}
#view-projects h4 {
  color: #1f1f1f;
  float: left;
  line-height: 39px;
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media (max-width: 769px) {
  #view-projects {
    padding: 20px 0;
    text-align: center;
  }
  #view-projects a {
    float: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }
  #view-projects h4 {
    float: none;
    display: inline-block;
    margin-top: 10px;
  }
}
/* =========================================
            View-Projects-Section
============================================ */

/* =========================================
            View-Projects-Section
============================================ */
#home-about-section {
  background-color: #f4f4f4;
  width: 100vw;
}
#home-about-section .heading-title-h1 {
  font-size: 42px;
  font-weight: bold;
}
#home-about-section .heading-paragraph-p {
  font-size: 18px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: #212226;
  line-height: 20px;
  font-weight: 600;
  line-height: 28px;
}
#home-about-section p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #212226;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 3px;
}
#home-about-section .btn {
  margin-top: 10px;
  background-color: #f4c613;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.7px;
  word-spacing: 2px;
}
#home-about-section .btn:hover {
  background-color: #dbb310;
}
#home-about-section .about-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  margin-top: 30px;
  min-width: 84%;
  max-width: 80%;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background: #f4c613;
}
#home-about-section .about-img *,
#home-about-section .about-img:before,
#home-about-section .about-img:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#home-about-section .about-img img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
#home-about-section .about-img:before,
#home-about-section .about-img:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
}
#home-about-section .about-img:before {
  width: 0;
  height: 1px;
}
#home-about-section .about-img:after {
  height: 0;
  width: 1px;
}
#home-about-section .about-img figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}
#home-about-section .about-img h3,
#home-about-section .about-img h4 {
  margin: 0;
  font-weight: normal;
  opacity: 0;
  font-family: "Poppins", sans-serif;
}
#home-about-section .about-img h4 {
  text-transform: uppercase;
}
#home-about-section .about-img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#home-about-section .about-img:hover img,
#home-about-section .about-img.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}
#home-about-section .about-img:hover:before,
#home-about-section .about-img.hover:before,
#home-about-section .about-img:hover:after,
#home-about-section .about-img.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
#home-about-section .about-img:hover:before,
#home-about-section .about-img.hover:before {
  width: 40px;
}
#home-about-section .about-img:hover:after,
#home-about-section .about-img.hover:after {
  height: 40px;
}
#home-about-section .about-img:hover h3,
#home-about-section .about-img.hover h3,
#home-about-section .about-img:hover h4,
#home-about-section .about-img.hover h4 {
  opacity: 1;
}
#home-about-section.about-img:hover h3,
#home-about-section .about-img.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#home-about-section .about-img:hover h4,
#home-about-section.about-img.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/* =========================================
            View-Projects-Section
============================================ */

/* =========================================
                Portfolio
============================================ */
#portfolio section {
  background: #212226;
  overflow: hidden;
}
#portfolio {
  padding-bottom: 100px;
  background-color: #212226;
}
#portfolio h1 {
  color: #ffffff;
  font-size: 42px;
}
#portfolio h6 {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #f4f4f4;
}
.row.no-gutters [class*="col-"] {
  padding: 0;
}
.portfolio-item {
  overflow: hidden;
  position: relative;
}
/* Filters CSS */
#isotope-filters button {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
  color: #f4f4f4;
}
#isotope-filters button span {
  display: block;
  -webkit-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
}
#isotope-filters button.active span {
  color: #f4c613;
}
/* Zoom Effect */
.portfolio-item img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Overlay Effect */
.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(244, 198, 19, 0.85);
  cursor: -webkit-zoom-in;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Item Details Effect */
.portfolio-item-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.portfolio-item-details h3 {
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio-item-details span {
  display: inline-block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 6px;
  width: 30px;
  margin: 11px auto 5px auto;
}
.portfolio-item-details p {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* Show Overlay on mouse over */
.portfolio-item:hover .portfolio-item-details h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-details p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}
/* =========================================
                Portfolio
============================================ */

/* =========================================
               Testimonials
============================================ */
#testimonials {
  padding: 80px 0;
}
#testimonials .tes-desc {
  margin-bottom: 100px;
}
#testimonials .client-say {
  background-color: #f5f5f5;
  color: #8e8f93;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}
#testimonials .client-say:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px;
  border-color: #f5f5f5 transparent transparent;
  position: absolute;
  bottom: -28px;
  left: 26px;
}
#testimonials .media-heading {
  font-weight: bold;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
}
#testimonials .media-body p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #8e8f93;
}
#testimonials h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 42px;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  #testimonials .price {
    padding: 40px 0;
  }
  #testimonials .media {
    margin-bottom: 20px;
  }
}
/* =========================================
               Testimonials
============================================ */

/* =========================================
               Tab-layers
============================================ */
#tab-section {
  padding: 80px 0;
  background-color: #f5f5f5;
}
@media (max-width: 991px) {
  #tab-section {
    text-align: center;
  }
}
#tab-section .tab-switch li {
  background-color: #212226;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 110px;
  line-height: 110px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
#tab-section .tab-switch li.active,
#tab-section .tab-switch li:hover {
  background-color: #f4c613;
}
#tab-section .tabs-content div:not(.tab-one) {
  display: none;
}
#tab-section .tabs-content h3 {
  margin-top: 0;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  #tab-section .tabs-content h3 {
    margin: 20px 0 30px;
  }
}
#tab-section .tabs-content .lead {
  line-height: 1.6;
  font-size: 18px;
  color: #7e7e7e;
}
#tab-section .tabs-content button {
  background-color: #f4c613;
  color: #ffffff;
}
#tab-section .tabs-content button:hover {
  background-color: #dbb310;
  color: #ffffff;
}
#tab-section .right-side-img * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#tab-section .right-side-img img {
  max-width: 100%;
  vertical-align: top;
}
#tab-section .right-side-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(244, 198, 19, 0.8) 0%,
    transparent 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(244, 198, 19, 0.9) 0%,
    transparent 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#tab-section .right-side-img:hover img,
#tab-section .right-side-img.hover img {
  -webkit-transform: scale(1.1) rotate(5deg);
  transform: scale(1.1) rotate(5deg);
}
/* =========================================
               Tab-layers
============================================ */

/* =========================================
               Count-Up
============================================ */
.sectionClass {
  position: relative;
  display: block;
}
.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}
.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}
.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101f2e;
}
.projectFactsWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#projectFacts .fullWidth {
  padding: 0;
}
.projectFactsWrap .item {
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}
.projectFactsWrap .item:nth-child(1) {
  background-color: #212226;
}
.projectFactsWrap .item:nth-child(2) {
  background-color: #212226;
}
.projectFactsWrap .item:nth-child(3) {
  background-color: #212226;
}
.projectFactsWrap .item:nth-child(4) {
  background-color: #212226;
}
.projectFactsWrap .item p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}
.projectFactsWrap .item p {
  color: #f4c613;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: "Open Sans";
  padding-top: 15px;
}
.projectFactsWrap .item span {
  width: 60px;
  background: #2d2e34;
  height: 2px;
  display: block;
  margin: 0 auto;
}
.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: #f4c613;
  padding-bottom: 15px;
}
@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}
/* =========================================
               Count-Up
============================================ */

/* =========================================
              Subscribe Banner 
============================================ */
.flat-row.mail-chimp {
  padding: 35px 0;
  background-color: #f4c613;
  overflow: hidden;
  clear: both;
  display: block;
  position: relative;
}
.mail-chimp h3 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}
.mail-chimp p {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  padding-top: 5px;
}
.mail-chimp .subscribe {
  text-align: right;
  margin-top: 20px;
}
.subscribe-form {
  position: relative;
}
.mail-chimp input[type="email"] {
  width: 342px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 132px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
}
.mail-chimp input[type="submit"] {
  position: absolute;
  top: 0;
  right: 4px;
  height: 50px;
  line-height: 50px;
  padding: 0 32px 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  background-color: #333;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
/* =========================================
              Subscribe Banner 
============================================ */

/* =========================================
               Footer-Section
============================================ */
.letsproject-pan {
  background-color: #f7ca18;
  color: #000;
}
.letsproject-pan {
  text-align: center;
}
.letsproject-pan a {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
  line-height: 150px;
  color: #181818;
  letter-spacing: 4px;
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease;
  outline: none;
}
.letsproject-pan a:hover {
  color: #999;
}
.footer {
  background-color: #212226;
  padding-top: 10px !important;
  padding-bottom: 40px !important;
  color: #999;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  font-size: 2px;
  line-height: 18px;
  color: #4e4a4f;
  font-size: 11px;
}
.footer address {
  font-size: 11px;
  line-height: 23px;
  font-style: normal;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}
.footer address figure {
  padding-bottom: 10px;
}
figure {
  margin: 0;
}
.yellow-mills {
  color: #f7ca18;
}
.logo-text {
  font-family: "Open Sans", sans-serif;
}
.footer menu li a:hover,
.footer address a,
.blog_right aside.categories-pan ul li a:hover,
.blog_right aside.recent-post-pan ul li section a:hover,
.blog_left article header .authore-cat-comment a:hover {
  color: #f7ca18;
  font-size: 9px;
}
.footer-url {
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
}
.footer-url:hover {
  text-decoration: underline;
  color: #fff;
}
.footer ul li {
  text-transform: uppercase;
  font-size: 8px;
  line-height: 37px;
  list-style: none;
  letter-spacing: 3px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}
.footer ul li a {
  display: block;
  color: #999;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 37px;
  list-style: none;
  letter-spacing: 3px;
  font-weight: 200;
}
.footer ul li a:hover {
  text-decoration: none;
  color: #f7ca18;
}
.footer ul li {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 37px;
  list-style: none;
  letter-spacing: 3px;
  font-weight: 200;
}
.footer p {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  padding-top: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  color: #999;
}
.footer {
  background-color: #181818;
  padding-top: 119px;
  padding-bottom: 183px;
  color: #999;
  font-weight: 200;
}
/* =========================================
               Footer-Section
============================================ */

/* =========================================
               Go-To-Top
============================================ */
.go-top.show {
  right: 15px;
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  margin-right: 10px;
}
.go-top {
  position: fixed !important;
  bottom: 15px;
  width: 46px;
  cursor: pointer;
  background-color: rgb(22, 22, 22);
  height: 46px;
  line-height: 45px;
  text-align: center;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: alpha(opacity=0);
  opacity: 0;
}
.go-top:hover {
  background-color: #f4c613;
}
.show {
  display: block !important;
}
.go-top i {
  font-size: 18px;
  color: #fff;
  padding-bottom: 3px;
}
/* =========================================
               Go-To-Top
============================================ */

/* =========================================
                Nav Bar
============================================ */
.topnav {
  font-size: 16px;
  background: #dbb310;
}
.navbar-default {
  background-color: #dbb310;
  border-color: #d8b011;
}
.topnav ul.navbar-nav li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}
.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus {
  background: #c49f0d;
  color: #fff;
}
.topnav .navbar-brand {
  background: #dbb310;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}
.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
  background: #c49f0d;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar {
    padding: 0px 0px !important;
  }
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-right: 15px;
  color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  color: #f5f5f5;
}
.navbar-default .navbar-toggle:hover {
  background-color: #c49f0d;
}
.navbar-default .navbar-toggle:focus {
  background-color: #c49f0d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/* =========================================
               Nav Bar
============================================ */
